/* Header */

	#header {
		height: auto;
		text-align: center;
	}

		#header .content {
			display: inline-block;
			vertical-align: middle;
		}

		#header .image {
			display: inline-block;
			vertical-align: middle;
		}